@model IEnumerable<MonitorTeamSolution.Models.ViewModels.PageListVM>

@{
    ViewData["Title"] = "Index";
}

<style>
    table {
        border-collapse: separate;
        border-spacing: 20px 0;
    }

    th {
        border: 2px;
        border-bottom-style: solid;
    }

    td {
        border: 1px;
        border-bottom-style: solid;
        border-bottom-color: dimgrey;
    }
</style>
<h1 align="Center"> Pages  </h1>

<p align="center">
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

<div style="overflow-x:auto;">

    <table cellspacing="20">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TimeStamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PageTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeStamp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PageTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>

                </tr>

            }
        </tbody>
    </table>
</div>