@model IEnumerable<MonitorTeamSolution.Models.ViewModels.UserListVM>

@{
    ViewData["Title"] = "Index";
}

<h1  align="Center">Users</h1>
<style>
    table {
        border-collapse: separate;
        border-spacing: 20px 0;
    }

    th {
        border: 2px;
        border-bottom-style: solid;
    }

    td {
        border: 1px;
        border-bottom-style: solid;
        border-bottom-color: dimgrey;
    }
</style>

<p align="center">
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<div>
    <table style="overflow-x:auto;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfRoles)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfRoles)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

